html {
  background-color:#BEC0CC;
  font-family: Quattrocento Sans;
}

#left-column {
  float:left;
  width:50%;
  margin-left:.5em;
  margin-right:.25em;
}

#right-column {
  float:right;
  width:39%;
  margin-right:.5em;

}

ul {
    list-style-type: none;
    margin-right: .25em;
    padding: 0;
}

li {
  display:inline;
}

h1 {
  font-family:Cinzel;
  font-size: 3.5em;
  color: #2F3E7F;
  margin: .25em .25em .25em 0;
}

#main-picture {
    width:100%;
    margin-top: 150px
}
